[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/volk"]
	path = dependencies/volk
	url = https://github.com/zeux/volk.git
[submodule "dependencies/vma"]
	path = dependencies/vma
	url = https://github.com/GPUOpen-LibrariesAndSdks/VulkanMemoryAllocator.git
